/* 

Assignment information

/--- Colors ---/

  Teal: #4aaaa5`
  Regular font color: `#777777`
  Main header background color: `#ffffff`
  Main header border color: `#cccccc`
  Footer background color: `#666666`
  Main content background color: `#ffffff`
  Main content border color: `#dddddd`

/--- Fonts ---/

  Heading fonts: `font-family: 'Georgia', Times, Times New Roman, serif;`.
  Other fonts: `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`

/--- Dimensions ---/

  The entire content area is `960px` wide.
  The main section content is `650px` wide.
  The sidebar is `270px` wide.

*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #777777;
    background: url("../images/background.png") repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-weight: bold;
}

h1 {
    font-size: 28px;
}

.clear:after {
    content: "";
    display: block;
    visibility: none;
    clear: both;
}

.page-wrap {
    width: 960px;
    margin: 0 auto;
}


/* ------ HEADER ------ */

header {
    display: block;
    width: 100%;
    background-color: #FFF;
    border-bottom: 2px solid #cccccc;
}


/* ------ HEADER LOGO ------ */

header .logo {
    float: left;
    padding: 30px 75px;
    background-color: #4aaaa5;
    color: #fff;
}

header .logo a {
    text-decoration: none;
    color: #fff;
}

header .logo h1 {
    color: #fff;
}


/* ------ HEADER MENU ------ */

header .menu {
    float: right;
    display: inline-block;
    padding: 30px;
}

header .menu li {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

header .menu li a {
    text-decoration: none;
    color: #777777;
}

header .menu li a:hover {
    color: #4aaaa5;
    text-decoration: underline;
}


/* ------ CONTAINER ------ */

div#container {
    display: block;
    margin-top: 30px;
    overflow: auto;
    min-height: calc(100vh - 249px);
    margin-bottom: 30px;
}


/* ------ MAIN CONTENT ------ */

.main-content {
    width: 650px;
    padding: 30px;
    clear: left;
    border: 1px solid #dddddd;
    background-color: #fff;
}

.main-content h1 {
    margin-bottom: 30px;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 20px;
}


/* ------ MAIN CONTENT - ABOUT ------ */

.main-content img.profile-image {
    float: left;
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 185px;
}


/* ------ MAIN CONTENT - CONTACT ------ */

.main-content input,
.main-content label,
.main-content textarea {
    display: block;
    color: #777777;
}

.main-content label {
    margin-bottom: 10px;
}

.main-content input[type="text"],
.main-content input[type="email"] {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
}

.main-content input[type="submit"] {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background: #4aaaa5;
    border: none;
    font-size: 18px;
    cursor: pointer;
}


.main-content textarea {
    width: 100%;
    border: 1px solid #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 5px;
}


/* ------ MAIN CONTENT - PORTFOLIO ------ */

.main-content .portfolio .portfolio-item {
    display: inline-block;
    position: relative;
    width: 275px;
    height: 205px;
}

.main-content .portfolio .portfolio-item:nth-child(odd) {
    margin-right: 33px;
}

.main-content .portfolio .portfolio-item img {
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(100%);
}

.main-content .portfolio .portfolio-item img:hover {
    filter: grayscale(0%);
}

.main-content .portfolio .portfolio-item span.item-title {
    position: absolute;
    top: 145px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #4aaaa5;
    color: #fff;
}


/* ------ SIDEBAR ------ */

.sidebar {
    display: table;
    float: right;
    width: 270px;
    padding: 30px;
    border: 1px solid #dddddd;
    background-color: #fff;
}

.sidebar h3 {
    margin-bottom: 10px;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 20px;
}

.sidebar img {
    width: 69px;
    height: auto;
    margin-top: 10px;
}


/* ------ FOOTER ------ */

footer {
    padding: 30px;
    height: 100px;
    background-color: #666666;
    text-align: center;
    border-top: 10px solid #4aaaa5;
}

footer p {
    font-size: 14px;
    color: #999;
}

footer a {
    text-decoration: none;
    color: #999;
}